In [1]:
import mysql.connector as connector
import mysql.connector as connector
connection=connector.connect(
                             host="localhost",
                             user="root",
                             password="123456",
                            )
cursor = connection.cursor()
cursor.execute("USE little_lemon")
import datetime as dt

In [4]:
# Read query 
#all_bookings = """SELECT GuestFirstName, GuestLastName, 
#TableNo FROM bookings;"""


# The SQL query is:
sql_query = """SELECT 
COUNT(BookingID) AS n_bookings,
HOUR(BookingSlot) AS Hour 
FROM Bookings
GROUP BY Hour
ORDER BY Hour ASC;"""

# Execute the query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

print(results)
# Print records in the required format using for loop
print("""Upcoming Bookings:\n""")
#print(cols)
for result in results:
    print("Hour: ",result[1],"<<>>", result[0], "Booking/s")

[(1, 15), (1, 17), (1, 18), (2, 19), (1, 20)]
Upcoming Bookings:

Hour:  15 <<>> 1 Booking/s
Hour:  17 <<>> 1 Booking/s
Hour:  18 <<>> 1 Booking/s
Hour:  19 <<>> 2 Booking/s
Hour:  20 <<>> 1 Booking/s

In [5]:
# The SQL query is: 
sql_query = """SELECT 
TableNo, 
GuestFirstName, 
GuestLastName, 
BookingSlot 
FROM Bookings 
ORDER BY BookingSlot;"""

# Execute query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print records in the required format
print("The guests and their booking slots are:\n")
for result in results: 
    time = str(result[3])
    hour = dt.datetime.strptime(time,'%H:%M:%S').hour
    minute = dt.datetime.strptime(time,'%H:%M:%S').minute
    print("[Table no:]",result[0],">>",result[1],result[2], "is expected to arrive at:", 
          hour,"hrs and", minute, "mins")

The guests and their booking slots are:

[Table no:] 19 >> Vanessa McCarthy is expected to arrive at: 15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at: 17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at: 18 hrs and 30 mins
[Table no:] 12 >> Anna Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 12 >> Joakim Iversen is expected to arrive at: 19 hrs and 0 mins
[Table no:] 8 >> Diana Pinto is expected to arrive at: 20 hrs and 0 mins

In [6]:
# The SQL query is: 
sql_query = """SELECT 
BookingID, 
TableNo, 
BookingSlot, 
ADDTIME(BookingSlot,"1:00:00") as NewTime 
FROM Bookings
WHERE TableNo = 12 AND BookingID = 2;"""

# Execute query 
cursor.execute(sql_query)

# Fetch all results that satisfy the query 
results = cursor.fetchall()

# Print time change alert.
print("Booking time change ALERT!!")
for result in results:  
    print("Booking ID:",result[0])
    print("Table number:",result[1])
    print("Booked slot:",result[2])
    print("New arrival time:",result[3])

Booking time change ALERT!!
Booking ID: 2
Table number: 12
Booked slot: 19:00:00
New arrival time: 20:00:00

In [7]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.