In [15]:
import mysql.connector as connector

In [16]:
connection=connector.connect(
                             host="localhost",
                             user="root",
                             password="123456",
                            )

In [17]:
cursor = connection.cursor()
# # If exist, drop the database first 
# cursor.execute("drop database little_lemon")

# Create database and checking all that we have!

cursor.execute("CREATE DATABASE little_lemon")
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

DatabaseError: 1007 (HY000): Can't create database 'little_lemon'; database exists

In [19]:
# Set little_lemon database for use 
cursor.execute("USE little_lemon")

# Confirm the database in use
connection.database

'little_lemon'

In [21]:
#SHOW ALL TABLE IN THE DATABASE
cursor.execute("SHOW TABLES")

In [22]:
#Retrive table  in a variable 'result'
results = cursor.fetchall()

In [ ]:
#Using for loop to print the names of all the tables
for table in results:
    print(table)

In [ ]:
#Create a cursor object with dictionary 
dic_cursor = connection.cursor(dictionary=True)

#Retrive the query outcomes in a variable 'results'
results =  dic_cursor.fetchall()

#Use for loop to print the names of all the tables
for table in results:
    print(table)