In [ ]:
import mysql.connector as connector
connection=connector.connect(
                             host="localhost",
                             user="root",
                             password="123456",
                            )
cursor = connection.cursor()
cursor.execute("USE little_lemon")

In [ ]:
my_sql_insert_query = """
INSERT INTO bookings
(GuestFirstName, GuestLastName, TableNo) Values ('marco','john',1)"""

cursor.execute(my_sql_insert_query)

In [ ]:
connection.commit()

In [ ]:
read_data_query = """SELECT * FROM bookings"""

In [ ]:
cursor.execute(read_data_query)

In [ ]:
result = cursor.fetchall()
print(result)