In [6]:
import boto3 #connect aws 
import pandas as pd
from io import StringIO
import time
AWS_ACCESS_KEY = 'AKIAU3UBU3CZDYAJEEQX'
AWS_SECRET_KEY = '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'
AWS_REGION = 'ap-northeast-1'
SCHEMA_NAME = 'covid-19'
S3_STAGING_DIR = 's3://anhminh-de-covid-project/output'
S3_BUCKET_NAME = 'anhminh-de-covid-project'
S3_OUTPUT_DIRECTORY = 'output'
#connect to aws athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

def download_and_load_query_result(
    client: boto3.client, query_response: dict
) -> pd.DataFrame:
    while True:
        try:
            # Check if the query has finished executing
            query_execution_id = query_response["QueryExecutionId"]
            response = client.get_query_execution(QueryExecutionId=query_execution_id)
            query_status = response['QueryExecution']['Status']['State']
            
            if query_status == 'SUCCEEDED':
                break
            elif query_status == 'FAILED' or query_status == 'CANCELLED':
                raise Exception(f"Query {query_execution_id} {query_status}")
            
            # Wait and retry if the query is not yet finished
            time.sleep(1)
            
        except Exception as err:
            raise err
    
    temp_file_location = 'athena_query_results.csv'
    
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    
    # Download the CSV file containing query results
    s3_object_key = f"{S3_OUTPUT_DIRECTORY}/{query_execution_id}.csv"
    s3_client.download_file(
        S3_BUCKET_NAME,
        s3_object_key,
        temp_file_location,
    )
    
    # Load CSV data into a Pandas DataFrame
    result_df = pd.read_csv(temp_file_location)
    
    return result_df


response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

query_execution_id = response['QueryExecutionId']

# Wait for the query to complete
while True:
    query_execution_response = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    query_status = query_execution_response['QueryExecution']['Status']['State']
    
    if query_status == 'SUCCEEDED':
        break
    elif query_status == 'FAILED':
        print("Query execution failed.")
        break
    
    # Wait before checking again
    time.sleep(1)  # Adjust the interval as needed

# Download and load query results if the query succeeded
if query_status == 'SUCCEEDED':
    enigma_jhud_df = download_and_load_query_result(athena_client, response)

Query execution failed.

In [7]:
import boto3 #connect aws 
import pandas as pd
from io import StringIO
import time

AWS_ACCESS_KEY = 'AKIAU3UBU3CZDYAJEEQX'
AWS_SECRET_KEY = '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'
AWS_REGION = 'ap-northeast-1'
SCHEMA_NAME = 'covid-19'
S3_STAGING_DIR = 's3://anhminh-de-covid-project/output'
S3_BUCKET_NAME = 'anhminh-de-covid-project'
S3_OUTPUT_DIRECTORY = 'output'

#connect to aws athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

def download_and_load_query_result(
    client: boto3.client, query_response: dict
) -> pd.DataFrame:
    while True:
        try:
            # Check if the query has finished executing
            query_execution_id = query_response["QueryExecutionId"]
            response = client.get_query_execution(QueryExecutionId=query_execution_id)
            query_status = response['QueryExecution']['Status']['State']
            
            if query_status == 'SUCCEEDED':
                break
            elif query_status == 'FAILED' or query_status == 'CANCELLED':
                raise Exception(f"Query {query_execution_id} {query_status}")
            
            # Wait and retry if the query is not yet finished
            time.sleep(1)
            
        except Exception as err:
            raise err
    
    temp_file_location = 'athena_query_results.csv'
    
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    
    # Download the CSV file containing query results
    s3_object_key = f"{S3_OUTPUT_DIRECTORY}/{query_execution_id}.csv"
    s3_client.download_file(
        S3_BUCKET_NAME,
        s3_object_key,
        temp_file_location,
    )
    
    # Load CSV data into a Pandas DataFrame
    result_df = pd.read_csv(temp_file_location)
    
    return result_df

response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud limit 10",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

query_execution_id = response['QueryExecutionId']

# Wait for the query to complete
while True:
    query_execution_response = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    query_status = query_execution_response['QueryExecution']['Status']['State']
    
    if query_status == 'SUCCEEDED':
        break
    elif query_status == 'FAILED':
        print("Query execution failed.")
        break
    
    # Wait before checking again
    time.sleep(1)  # Adjust the interval as needed

# Download and load query results if the query succeeded
if query_status == 'SUCCEEDED':
    enigma_jhud_df = download_and_load_query_result(athena_client, response)

In [8]:
enigma_jhud_df.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [9]:
#states_daily
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM states_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

query_execution_id = response['QueryExecutionId']

# Wait for the query to complete
while True:
    query_execution_response = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    query_status = query_execution_response['QueryExecution']['Status']['State']
    
    if query_status == 'SUCCEEDED':
        break
    elif query_status == 'FAILED':
        print("Query execution failed.")
        break
    
    # Wait before checking again
    time.sleep(1)  # Adjust the interval as needed

# Download and load query results if the query succeeded
if query_status == 'SUCCEEDED':
    rearc_covid_19_testing_data_states_daily_df = download_and_load_query_result(athena_client, response)
rearc_covid_19_testing_data_states_daily_df.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [10]:
#enigma-nytimes-data-in-usa-us_county
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

query_execution_id = response['QueryExecutionId']

# Wait for the query to complete
while True:
    query_execution_response = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    query_status = query_execution_response['QueryExecution']['Status']['State']
    
    if query_status == 'SUCCEEDED':
        break
    elif query_status == 'FAILED':
        print("Query execution failed.")
        break
    
    # Wait before checking again
    time.sleep(1)  # Adjust the interval as needed

# Download and load query results if the query succeeded
if query_status == 'SUCCEEDED':
    us_county = download_and_load_query_result(athena_client, response)
us_county.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

In [ ]:
#enigma-nytimes-data-in-usa-us_county
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

query_execution_id = response['QueryExecutionId']

# Wait for the query to complete
while True:
    query_execution_response = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    query_status = query_execution_response['QueryExecution']['Status']['State']
    
    if query_status == 'SUCCEEDED':
        break
    elif query_status == 'FAILED':
        print("Query execution failed.")
        break
    
    # Wait before checking again
    time.sleep(1)  # Adjust the interval as needed

# Download and load query results if the query succeeded
if query_status == 'SUCCEEDED':
    us_county = download_and_load_query_result(athena_client, response)
us_county.head()

In [11]:
factCovid_1 = enigma_jhud_df[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid_2 = rearc_covid_19_testing_data_states_daily_df[['fips','date','positive','negative','hospitalized','hospitalizeddischarged']]
#Merge 2 table with inner join
factCovid = pd.merge(factCovid_1,factCovid_2, on='fips', how='inner')
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,NaN,NaN

In [ ]:
factCovid.shape

(10, 12)

In [12]:
dimRegion_1 = enigma_jhud_df[['fips','province_state','country_region','latitude','longitude']]
dimRegion_2 = us_county[['fips','county','state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')
dimRegion

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York
...,...,...,...,...,...,...,...
4055,NaN,Hebei,China,38.043,114.515,Unknown,Georgia
4056,NaN,Hebei,China,38.043,114.515,Unknown,Guam
4057,NaN,Hebei,China,38.043,114.515,Unknown,Hawaii
4058,NaN,Hebei,China,38.043,114.515,Unknown,Illinois
4059,NaN,Hebei,China,38.043,114.515,Marion,Ken

In [13]:
dimDate = rearc_covid_19_testing_data_states_daily_df[['fips','date']]
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [14]:
dimDate['date'] = pd.to_datetime(dimDate['date'],format = '%Y%m%d')
dimDate

C:\Users\Admin\AppData\Local\Temp\ipykernel_12172\1447932594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'],format = '%Y%m%d')

      fips       date
0      2.0 2021-03-07
1      1.0 2021-03-07
2      5.0 2021-03-07
3     60.0 2021-03-07
4      4.0 2021-03-07
...    ...        ...
2680  49.0 2021-01-19
2681  51.0 2021-01-19
2682  78.0 2021-01-19
2683  50.0 2021-01-19
2684   NaN 2021-01-19

[2685 rows x 2 columns]

In [15]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['dow'] = dimDate['date'].dt.dayofweek
dimDate

C:\Users\Admin\AppData\Local\Temp\ipykernel_12172\3182844616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
C:\Users\Admin\AppData\Local\Temp\ipykernel_12172\3182844616.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
C:\Users\Admin\AppData\Local\Temp\ipykernel_12172\3182844616.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['dow'] = dimDate['date'].dt.dayofweek

      fips       date  year  month  dow
0      2.0 2021-03-07  2021      3    6
1      1.0 2021-03-07  2021      3    6
2      5.0 2021-03-07  2021      3    6
3     60.0 2021-03-07  2021      3    6
4      4.0 2021-03-07  2021      3    6
...    ...        ...   ...    ...  ...
2680  49.0 2021-01-19  2021      1    1
2681  51.0 2021-01-19  2021      1    1
2682  78.0 2021-01-19  2021      1    1
2683  50.0 2021-01-19  2021      1    1
2684   NaN 2021-01-19  2021      1    1

[2685 rows x 5 columns]

In [16]:
bucket = 'anhminh-de-covid-project' #already created on s3

In [17]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)

In [18]:
csv_buffer.getvalue()

',fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalized,hospitalizeddischarged\r\n0,,Anhui,China,1.0,,,,20210119,289939,,,\r\n1,,Beijing,China,14.0,,,,20210119,289939,,,\r\n2,,Chongqing,China,6.0,,,,20210119,289939,,,\r\n3,,Fujian,China,1.0,,,,20210119,289939,,,\r\n4,,Gansu,China,,,,,20210119,289939,,,\r\n5,,Guangdong,China,26.0,,,,20210119,289939,,,\r\n6,,Guangxi,China,2.0,,,,20210119,289939,,,\r\n7,,Guizhou,China,1.0,,,,20210119,289939,,,\r\n8,,Hai,China,4.0,,,,20210119,289939,,,\r\n9,,Hebei,China,1.0,,,,20210119,289939,,,\r\n'

In [19]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket,'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '27KA598S4RKV6MAX',
  'HostId': 'P508bgpUUhcEhT2sE8AG48Ke8WbIhIXgBxWiwggTsVV67uSDupc8dE2ejfGAyGWgKOwqlIXjzXM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'P508bgpUUhcEhT2sE8AG48Ke8WbIhIXgBxWiwggTsVV67uSDupc8dE2ejfGAyGWgKOwqlIXjzXM=',
   'x-amz-request-id': '27KA598S4RKV6MAX',
   'date': 'Mon, 28 Aug 2023 04:38:28 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"3853edbcbfaa237fb7c01a00b0a72b60"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"3853edbcbfaa237fb7c01a00b0a72b60"',
 'ServerSideEncryption': 'AES256'}