In [1]:
import boto3 #connect aws 
import pandas as pd
from io import StringIO
import time

In [2]:
AWS_ACCESS_KEY = 'AKIAU3UBU3CZDYAJEEQX'
AWS_SECRET_KEY = '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'
AWS_REGION = 'ap-northeast-1'
SCHEMA_NAME = 'covid-19'
S3_STAGING_DIR = 's3://anhminh-de-covid-project/output'
S3_BUCKET_NAME = 'anhminh-de-covid-project'
S3_OUTPUT_DIRECTORY = 'output'

In [3]:
#connect to aws athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
    region_name = AWS_REGION,
)

In [6]:
def download_and_load_query_result(
    client: boto3.client, query_response: dict
) -> pd.DataFrame:
    while True:
        try:
            # Check if the query has finished executing
            query_execution_id = query_response["QueryExecutionId"]
            response = client.get_query_execution(QueryExecutionId=query_execution_id)
            query_status = response['QueryExecution']['Status']['State']
            
            if query_status == 'SUCCEEDED':
                break
            elif query_status == 'FAILED' or query_status == 'CANCELLED':
                raise Exception(f"Query {query_execution_id} {query_status}")
            
            # Wait and retry if the query is not yet finished
            time.sleep(1)
            
        except Exception as err:
            raise err
    
    temp_file_location = 'athena_query_results.csv'
    
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    
    # Download the CSV file containing query results
    s3_object_key = f"{S3_OUTPUT_DIRECTORY}/{query_execution_id}.csv"
    s3_client.download_file(
        S3_BUCKET_NAME,
        s3_object_key,
        temp_file_location,
    )
    
    # Load CSV data into a Pandas DataFrame
    result_df = pd.read_csv(temp_file_location)
    
    return result_df

In [105]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud limit 10",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

query_execution_id = response['QueryExecutionId']

# Wait for the query to complete
while True:
    query_execution_response = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    query_status = query_execution_response['QueryExecution']['Status']['State']
    
    if query_status == 'SUCCEEDED':
        break
    elif query_status == 'FAILED':
        print("Query execution failed.")
        break
    
    # Wait before checking again
    time.sleep(1)  # Adjust the interval as needed

# Download and load query results if the query succeeded
if query_status == 'SUCCEEDED':
    enigma_jhud_df = download_and_load_query_result(athena_client, response)

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv
5,NaN,NaN,Guangdong,China,2020-01-22T17:00:00,23.342,113.424,26.0,NaN,NaN,NaN,"""Guangdong",csv
6,NaN,NaN,Guangxi,China,2020-01-22T17:00:00,23.830,108.788,2.0,NaN,NaN,NaN,"""Guangxi",csv
7,NaN,NaN,Guizhou,China,2020-01-22T17:00:00,26.815,106.875,1.0,NaN,NaN,NaN,"""Guizhou",csv
8,NaN,NaN,Hai,China,2020-01-22T17:00:00,19.196,109.745,4.0,NaN,NaN,NaN,"""Hai",csv
9,NaN,NaN,Hebei,China,2020-01-22T17:00:00,38.043,114.515,1.0,NaN,NaN,NaN,"""Hebei",csv

In [102]:
response

{'QueryExecutionId': '925e41b5-3a41-4452-8f32-5119927b43ad',
 'ResponseMetadata': {'RequestId': '5966b0ec-a8ca-4273-83ff-bf181971ac9b',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Thu, 24 Aug 2023 17:18:56 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '5966b0ec-a8ca-4273-83ff-bf181971ac9b'},
  'RetryAttempts': 0}}

In [106]:
enigma_jhud_df.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [140]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM state_abv limit 10",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

query_execution_id = response['QueryExecutionId']

# Wait for the query to complete
while True:
    query_execution_response = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    query_status = query_execution_response['QueryExecution']['Status']['State']
    
    if query_status == 'SUCCEEDED':
        break
    elif query_status == 'FAILED':
        print("Query execution failed.")
        break
    
    # Wait before checking again
    time.sleep(1)  # Adjust the interval as needed

# Download and load query results if the query succeeded
if query_status == 'SUCCEEDED':
    state_abv_df = download_and_load_query_result(athena_client, response)
    
state_abv_df.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

TRANSFORMATION

In [141]:
#change header
new_header = state_abv_df.iloc[0] #grab the first row for the header
state_abv_df = state_abv_df[1:] #take the data less than header row
state_abv_df.columns = new_header #set the header row as the df header
state_abv_df.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA